@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.app {
  min-height: 100%;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.board {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  min-height: 100%;
}

.list-container {
  background-color: white;
  width: 33%;
  min-height: 100%;
  border-radius: 10px;
}

.list-title {
  padding: 20px;
  margin: 0;
  background-color: lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-container,
form {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

form {
  gap: 5px;
}
input,
select {
  margin-bottom: 20px;
}
.form-button {
  margin-top: 10px;
  padding: 10px 7px;
  border: none;
}

.item-done,
.item-open,
.item-in {
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
}

.item-open {
  background-color: lightgoldenrodyellow
}

.item-in {
  background-color: rgb(233, 253, 233)
}

.item-done {
  background-color: rgb(200, 233, 244);
}