@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.app {
  min-height: 100%;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.board {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  min-height: 100%;
}

.list-container {
  border: 1px solid lightgrey;
  background-color: white;
  width: 33%;
  min-height: 100%;
}

.list-title {
  padding: 20px;
  margin: 0;
  background-color: lightgrey;
}