#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}